<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RxTx_test/src/rxtx_test001/RxTx_test001.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="rxtx_test001.RxTx_test001"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RxTx_test"/>
</launchConfiguration>
